@page
@model STM_Mechanization.Pages.UserInputModel
@{
    ViewData["Title"] = "UserInput";
}

<div>
    <h1>Time Log </h1>
    <p>User insert their projects' Target billable time and actual working time.</p>
</div>

<!doctype html>
<html>
<head>
    <style>

        h1{
            margin-left: 70px;
        }

        p {
            margin-left: 70px;
        }

        .sidebar {
            width: 160px;
            background-color: rgb(128, 128, 128);
            color: #fff;
            position: fixed;
            height: 100%;
            padding-top: 50px;
            left: 0;
            top: 0;
        }

        .sidebar-nav {
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                line-height: 40px;
            }

            .sidebar-nav a {
                display: block;
                text-decoration: none;
                color: #fff;
            }

            .sidebar-nav i {
                margin-right: 0px;
            }


    </style>


</head>
<body>

</body>

</html>

